<% @page_title = h(@book.title) %>

<p>
  <b>Title:</b>
  <%=h @book.title %>
</p>

<% unless (s = @book.str_authors).empty? %>
<p>
  <b>Authors:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.publisher).empty? %>
<p>
  <b>Publisher:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.year).nil? %>
<p>
  <b>Year:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.isbn).empty? %>
<p>
  <b>Isbn:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.pages).nil? %>
<p>
  <b>Pages:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.orig_title).empty? %>
<p>
  <b>Orig title:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.annotation).empty? %>
<p>
  <b>Annotation:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.circulation).nil? %>
<p>
  <b>Circulation:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.series).empty? %>
<p>
  <b>Series:</b>
  <%=h s %>
</p>
<% end %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
