<% @page_title = h(@book.title) %>

<p><i>
<% unless (users = @book.users).empty? %>
  Владельцы книги:
  <%=format_users( users ) %>
<% else %>
  пока нету.
<% end %>
</i></p>

<%= render :partial => "books/rating", :locals => { :book => @book } %>

<p>
  <b>Заголовок:</b>
  <%=h @book.title %>
</p>

<% unless (s = @book.str_authors).empty? %>
<p>
  <b>Авторы:</b>
  <%=format_authors(@book.authors) %>
</p>
<% end %>

<% unless (s = @book.publisher).empty? %>
<p>
  <b>Издательство:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.year).nil? %>
<p>
  <b>Год:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.isbn).empty? %>
<p>
  <b>ISBN:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.pages).nil? %>
<p>
  <b>Кол-во страниц:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.orig_title).empty? %>
<p>
  <b>Оригинальное название:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.annotation).empty? %>
<p>
  <b>Аннотация:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.circulation).nil? %>
<p>
  <b>Тираж:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.series).empty? %>
<p>
  <b>Серия:</b>
  <%=h s %>
</p>
<% end %>

<% if current_user and not current_user.books.include?( @book ) %>
  <%= button_to 'Добавить в мою библиотеку', book_ownerships_path(@book) %>
<% else %>
  <%= link_to 'Убрать из моей библиотеки',
        book_ownership_path(@book),
        :method => :delete %>
<% end %>

<ol class="commentlist">
  <%= render :partial => 'book_comments/comment', :collection => @book.comments %>
</ol>

<% form_for [@book, @comment] do |f| %>
  <h2>Оставить комментарий</h2>
  <p><%= f.label "Заголовок: " %><%= f.text_field :title %></p>
  <p><%= f.text_area :comment, :rows => 3 %></p>
  <p><%= f.submit "Отправить" %></p>
<% end %>

<%= link_to 'Назад', books_path %>
