<% @page_title = h(@book.title) %>

<p><i>
<% unless (users = @book.users).empty? %>
  Users who has this book:
  <%=format_users( users ) %>
<% else %>
  Nobody has this book.
<% end %>
</i></p>

<p>
  <b>Title:</b>
  <%=h @book.title %>
</p>

<% unless (s = @book.str_authors).empty? %>
<p>
  <b>Authors:</b>
  <%=format_authors(@book.authors) %>
</p>
<% end %>

<% unless (s = @book.publisher).empty? %>
<p>
  <b>Publisher:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.year).nil? %>
<p>
  <b>Year:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.isbn).empty? %>
<p>
  <b>Isbn:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.pages).nil? %>
<p>
  <b>Pages:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.orig_title).empty? %>
<p>
  <b>Orig title:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.annotation).empty? %>
<p>
  <b>Annotation:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.circulation).nil? %>
<p>
  <b>Circulation:</b>
  <%=h s %>
</p>
<% end %>

<% unless (s = @book.series).empty? %>
<p>
  <b>Series:</b>
  <%=h s %>
</p>
<% end %>

<% if current_user and not current_user.books.include?( @book ) %>
  <%= button_to 'Add to my books', book_ownerships_path(@book) %>
<% else %>
  <%= link_to 'Remove from my books',
        book_ownership_path(@book),
        :method => :delete %>
<% end %>
<%= link_to 'Back', books_path %>
