<%# it's deprecated, will be removed with restfull auth %>
<% form_tag session_path do %>
		<ol class="login">
			<li>
				<%= label_tag 'login', 'Username' %>
				<%= text_field_tag 'login', @login %>
			</li>
			<li>
				<%= label_tag 'password' %>
				<%= password_field_tag 'password', nil %>
			</li>
			<li>
				<%= label_tag 'remember_me', 'Remember me' %>
				<%= check_box_tag 'remember_me', '1', @remember_me %>
			</li>
		</ol>
	<div class="buttons">
      <%= submit_tag 'Вход' %><br/>
      <%= link_to 'Зарегистрироваться', signup_url %>
	</div>
<% end -%>
